@import-normalize;
* {
  box-sizing: border-box
}

:root {
  --chip-size: 35px;
  --board-width: 300px;
  --board-height: calc(var(--board-width) - calc(var(--board-width) * .1))
}
.game-wrapper {
  height: 100vh;
  width: 100%;
  background-color: rgba(228, 233, 237, 1);
  padding-top: 1px;
  overflow: auto;
  padding-bottom: 10px;
}
h2 {
  position: relative;
  text-align: center;
}
.connect-span {
  color: white;
  background-color: black;
  padding: 1px;
  border: 3px solid white;
  font-size: 20px;
  border-radius: 12px;
}
.four-span {
  color: #f41a24;
  font-size: 50px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  position: absolute;
  display: inline-block;
  margin-top: -15px;
  margin-left: -2px;
}
.start-span {
  color: white;
  background-color: black;
  padding: 2px;
  border: 3px solid white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.connect4 {
  height: var(--board-height);
  width: var(--board-width);
  border-radius: 20px;
  background-color: black;
  opacity: .9;
  display: flex;
  padding-top: 1px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.start-game {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.connect4-column {
  display: flex;
  width: calc(100% / 7);
  height: 100%;
  background-color:#1962f2;
  flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto
}
.play-chip {
  border-radius: 50%;
  background-color: black;
  border-radius: 40px 40px;
  height: var(--chip-size);
  width: var(--chip-size);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.connect4-player1 {
  background-color: #f41a24;
}
.connect4-player2 {
  background-color: #fbef41;
}
.winner-statement {
  color: white;
  height: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}
.play-again-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.play-again-btn {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 100px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
  background-color: black;
  font-weight: bold;
}
.player-one {
  color: #f41a24;
}
.player-two {
  color: #fbef41;
}
.players {
  height: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  margin-top: 40px;
  font-weight: bold;
  background-color: #1962f2;
}
@media screen and (min-width: 768px) {
  :root  {--chip-size: 55px;
    --board-width: 500px;
    --board-height: calc(var(--board-width) - calc(var(--board-width) * .2))
  }
}
@media screen and (min-width: 1000px) {
  :root  {--chip-size: 70px;
    --board-width: 700px;
    --board-height: calc(var(--board-width) - calc(var(--board-width) * .3))
  }
}