* {
  box-sizing: border-box
}

.connect4 {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: .7;
  display: flex;
}
.connect4-slot {
  background-color: black;
  border-radius: 40px 40px;
  height: 16.5%;
  width: 90%;
  margin: 5px;
}

.start-game {
  color: yellow;
}
.connect4-column {
  display: flex;
  width: 14.25%;
  height: 100vw;
  background-color:blue;
  flex-direction: column-reverse;
}
.connect4-player1 {
  background-color: red;
  border-radius: 40px 40px;
  height: 16.5%;
  width: 90%;
  margin: 5px;
}
.connect4-player2 {
  background-color: blue;
  border: 2px solid black;
  border-radius: 40px 40px;
  height: 16.5%;
  width: 90%;
  margin: 5px;
}