@import-normalize;
* {
  box-sizing: border-box
}

.connect4 {
  height: 500px;
  width: 500px;
  background-color: black;
  opacity: .7;
  display: flex;
}
.connect4-slot {
  background-color: black;
  border-radius: 40px 40px;
  height: 16.5%;
  width: 90%;
  margin: 5px;
}

.start-game {
  color: yellow;
}
.connect4-column {
  display: flex;
  width: 14.25%;
  height: 100%;
  background-color:blue;
  flex-direction: column-reverse;
}
.connect4-player1 {
  background-color: red;
  border-radius: 40px 40px;
  height: 16.5%;
  width: 90%;
  margin: 5px;
}
.connect4-player2 {
  background-color: blue;
  border: 2px solid black;
  border-radius: 40px 40px;
  height: 16.5%;
  width: 90%;
  margin: 5px;
}
.winner-statement {
  color: yellow;
  height: 50px;
  width: 50px;
}
.play-again-btn {
  color: blue !important;
  height: 40px;
  width: 40px;
}
.play-again-btn-wrapper {
  color: blue;
  width: 100%;
  height: 40px;
}
.player-one {
  color: red;
  height: 20px;
  width: 40px;
}
.player-two {
  color: blue;
  height: 20px;
  width: 40px;
}